#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
border: 10px solid white;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
 border:10px rgb(248, 247, 248);   
}
#textbox
{
    width: 300px;
}
body{
    background-image:linear-gradient(indigo,rgb(245, 4, 165),indigo) ;
}
#t{
color: white ;
    font-family: cursive;
}
#start{
background-image:linear-gradient( indigo, rgb(245,4,165), indigo) ;
}